.catalog__wrapper {
    margin-top: 16px;
}
.catalog__wrapper label{
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    margin-left: 10%;    
}
.catalog__wrapper select{
    color:#7859CF;
    text-align: right;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    border: none;   
}
.catalog__wrapper select:hover,.catalog__wrapper:focus{
    background-color: #F0EBFF;
}
.catalog__wrapper option{
    background-color: #FFFFFF;
    border: none;
    color: #333333;
}
.catalog__wrapper option:hover{
    background-color: #7859CF;
    border: none;
    color: #333333;
}
.catalog__wrapper select:active{
    background-color: #7859CF;
    
}
.catalog__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 ;
    margin:0 0 16px 0;   
}
.catalog__item {
    display: flex;
    flex-direction: column;    
}
.card {
    padding-top: 40px;
}
.card__img {
    width: 130px;
    height: 188px;
    margin:0 auto 24px;
}
.card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    margin:0 auto 4px;
}
.card__discription {
    width: 240px;
    font-size: 14px;
    line-height: 20px;
    margin:0 auto 16px;
}
.card__span{
    display: flex;
    width: 51px;
    height: 32px;
    text-align: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 32px;
    margin-left:20%;
}
.card__btn {    
    width: 141px;
    height: 36px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
    margin-left: 30px;
}
.card__btn:hover,.card__btn:focus{
    background-color: #9070EC;
}
.card__btn:active{
    background-color: #593CAC;
}
.card__btn:disabled{
    background-color: #BDBDBD;
    }


@media (min-width:768px) {
    .catalog__wrapper {
        margin-top: 0;
    }
    .catalog__wrapper label{        
        margin-left: 466px;
    }
    .catalog__wrapper select{        
        margin:0 20px 0 10px;
    }
    .catalog__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;
        margin: 16px 0;   
    }
    .catalog__item {
        display: flex;
        flex-direction: column;    
    }
    .card {
        padding: 50px 30px 30px;
    }
    .card__img {        
        margin:0 80px 30px;
    }
    .card__title {
        font-size: 24px;
        line-height: 36px;
        margin:0 0 10px 0;
    }
    .card__discription {
        width: 289px;        
        margin:0 0 20px 0;
    }
    .card__span{
        display: flex;
        width: 51px;
        height: 32px;               
        margin-left:0;
    }
    .card__btn {        
        margin-left: 99px;
        }
}
@media (min-width:1440px) {
    .catalog__wrapper {        
        margin-left:30px;
    }
    .catalog__wrapper label{
        margin-left:650px;
    }
    .catalog__wrapper select{        
        margin:0 41px 26px 10px;
    }
    .catalog__list {        
        margin: 26px 0 60px 0;   
    }
    .card{
        max-width: 317px;
        padding: 50px 0 30px 30px;
    }    
    .card__img {        
        margin:0 64px 30px;
    }    
    .card__discription {
        width: 257px;         
    }    
    .card__btn {        
        margin-left: 67px;
        }
}
