.map__wrapper {    
    height: 420px;    
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}
@media (min-width:768px) {
    .map__wrapper {           
        height: 480px;
        margin-bottom: 40px;
    }   
}
@media (min-width:1200px) {
    .map__wrapper {               
        height: 540px;
    }    
}