.map__wrapper {    
    height: 420px;    
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .map__wrapper {           
        height: 480px;
        margin-bottom: 40px;
    }   
}
@media (min-width:1440px) {
    .map__wrapper {               
        height: 540px;
    }    
}