.noUi-target{
    background-color:#BDBDBD;
    border:none;
    border-radius: 100px;
    box-shadow: none;
    height: 4px;
}
.noUi-connect{
    background-color:#9070EC ;
}
.noUi-handle::before,
.noUi-handle::after{
    display: none;
}
.noUi-horizontal .noUi-handle{
    width: 24px;
    height: 24px;
    top: -10px;
    right: -24px;    
}
.noUi-handle {
    border: 2px solid #9070EC;
    background-color:#FFFFFF;    
    border-radius: 100%;    
    cursor: default;
    box-shadow:none;
    cursor: pointer;    
    }
.noUi-handle:hover,.noUi-handle:focus {
    background-color: rgba(120, 89, 207, 0.25);
    opacity: 0.25;
}
.noUi-handle:active{
    background-color: #7859CF;
    opacity: 1;
}
.noUi-connect:disabled{
    background-color:#BDBDBD ;
}
.noUi-target:disabled{
    background-color:#BDBDBD ;
}
.noUi-handle:disabled{
    background-color:#FFFFFF;
    border: 1px solid #F8F8F8;
}
.noUi-handle:default{
    background-color: #FFFFFF;
}